body {
    background-image: url('../images/weather.webp');
    background-repeat: no-repeat;
    background-size: 100%;
}
#form1{
    background-color: rgba(200, 221, 221, 0.479);
    height: 40px;
}
.input{
    margin-top: 6px;
    margin-left: 10px;
    height: 20px;
}
.button{
    height: 25px;
    background-color: rgba(196, 213, 214, 0.422);
    border-style: none;
    color: rgb(9, 54, 94);
    cursor: pointer;
}

#pweather{
background-color: azure;
font-size: larger;
font-weight: bolder;
height: 40px;
line-height: 40px;
border-radius: 5px;
border: 1px dashed rgb(151, 220, 239) ;
color: rgb(113, 165, 197);
}
